doctype html
// if IE 6
  <html id="ie6" lang="en">
// if IE 7
  <html id="ie7" lang="en">
// if IE 8
  <html id="ie8" lang="en">
// if IE 9
  <html id="ie9" lang="en">
// if[!IE]><!
html(lang='en')
  //<![endif]
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Stereogrampage

    link(rel='stylesheet', href='stylesheets/app.css', type='text/css')
  body
    #canvas-container

    //- Include your templates here, like:
    // include templates/additional-content.jade

    script(src='javascripts/vendor.js')
    script(src='javascripts/app.js')
    script.
      require('initialize');

